.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
    margin: 15px 0px;
    background-color: #461D13;
    color: white;
}

.topic {
    background-color: #7A6646;
    margin-left: 15px;

}
.card-columns {
    margin-top: 15px;
    column-count: 3;
    width: 100%
}

.card {
    position: relative;
    padding: 5px;
    display: inline-block;
    width: 100%;
}
.card img {
    width: 100%
}


.card:hover .overlay {
    opacity: .5;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: grey;
}
.glyphicon {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#giphy {
    position: absolute;
    right: 50px;
    height: 20px;
}